.background {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    background-size : cover;
    height: 100vh;
}

.login-container {
    background-color: violet;
    width: 300px;
    border-color: violet;
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
    padding : 20px;
}