.background {
    background: linear-gradient(to right, #133f56, #26cfc4);
    background-size : cover;
    height: 100vh;
}

.login-container {
    background-color: rgb(158, 227, 236);
    width: 40%;
    height: 400px;
    border-color: rgb(158, 227, 236);
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
    padding : 30px;
    margin: auto;
}

label {
    font-size: 20px;
    font-weight: bold;
}

.login-button {
    width: 24%;
    height: 45px;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.register-container {
    background-color: rgb(158, 227, 236);
    width: 40%;
    height: 400px;
    border-color: rgb(158, 227, 236);
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
    padding : 30px;
    margin: auto;
}

.register-button {
    width: 24%;
    height: 45px;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}